html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	background-image: url("../images/placeholder_background.jpg");
	background-repeat: repeat-y;
	background-size: contain;
}

.container {
	max-width: 95%;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (min-width: 640px) {
	.container {
		max-width: 580px;
		/* TODO hamburger */
	}
}

@media only screen and (min-width: 768px) {
	.container {
		max-width: 708px;
	}
}

@media only screen and (min-width: 1024px) {
	.container {
		max-width: 964px;
	}
}

@media only screen and (min-width: 1280px) {
	.container {
		max-width: 1220px;
	}
}

nav {
	overflow: hidden;
	background-color: #422407;
	color: #e0ee18;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 3em;
	display: inline-flex;
}

#nav-bar {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.nav-links {
	text-align-last: right;
	font-size: 1.5em;
}

.nav-links > a {
	color: inherit;
	text-decoration: none;
	/*display: inline-block;*/
}

.nav-links > a:not(:first-child) {
	padding-left: 15px;
}

#top-img {
	background-image: url("../images/placeholder_top_background.jpg");
	background-size: cover;
	max-height: 1000px;
	background-position: top;
	background-repeat: no-repeat;
	height: 100vh;
	display: flex;
	/*justify-content: center;*/
	align-items: center;
}

#top-text {
	color: #e0ee18;
}

.article-image {
	max-width: 50%;
}

.article-text {
	width: 50%;
}

.article > * {
	display: inline-block;
	vertical-align: middle;
}

#articles > .article {
	padding-top: 2em;
	padding-bottom: 2em;
}

#articles > .article:not(:last-child) {
	border-bottom: dashed 1px #000;
}

.linkable {
	scroll-margin-top: 3em;
}

/* TODO dark mode */
/*
@media (prefers-color-scheme: dark) {
	img {
		opacity: .75;
		transition: opacity .5s ease-in-out;
	}

	img:hover {
		opacity: 1;
	}
}
*/

/* ACCESIBILITY */
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

/* DEBUG */
/*
* {
	background: #000 !important;
	color: #0f0 !important;
	outline: solid #f00 1px !important;
}
*/
