.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 640px) {
	.container {
		max-width: 640px
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 768px
	}
}

@media (min-width: 1024px) {
	.container {
		max-width: 1024px
	}
}

@media (min-width: 1280px) {
	.container {
		max-width: 1280px
	}
}

@media (prefers-color-scheme: dark) {
	img {
		opacity: .75;
		transition: opacity .5s ease-in-out;
	}

	img:hover {
		opacity: 1;
	}
}

#navbar {
	overflow: hidden;
	background-color: #422407;
	color: #e0ee18;
	font-size: 2em;
	position: fixed;
	top: 0;
	/*left: 0;*/
	width: 100%;
}

#top-img {
	background-image: url("../images/231007_0015.jpg");
	background-size: cover;
	max-height: 1000px;
	background-position: top;
	background-repeat: no-repeat;
	height: 100vh;
	display: flex;
	/*justify-content: center;*/
	align-items: center;
}

#top-text {
	color: #e0ee18;
}